.profile-reach-container{
   /* flex: 1; */
   /* background:var(--c-grey); */
   border-radius: 12px;
   /* padding: 20px; */
  display: flex;
  width: 30%;
  flex-direction: column;

}

.profile-reach-header{
  display: flex;
  justify-content: space-between;
}


.option{
   background:white;
   padding: 10px;
   border-radius: 20px;
   border: none;
}

