.enagagement-conatiner {
  background: var(--c-grey);
  /* width: 70%; */
  padding: 20px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}
.enagagement-conatiner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enagagement-conatiner-graph {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.enagagement-conatiner-graph > img {
  max-width: 400px;
  /* width: 100%; */
}

.enagagement-conatiner-header-title span {
  font-size: 24px;
  font-weight: 700;
}
.enagagement-conatiner-footer {
  display: flex;
  justify-content: space-around;
}
